<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
                rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">
    <style>
    .back-icon {
      position: absolute;
      top: 50px;
      left: 625px;
      font-size: 24px;
    }
    .mensaje-error {
        color: red;
    }
  </style>
</head>
<body>

<div id="dvHeader" class="d-flex justify-content-center align-items-center mt-5" >
    <p><h2>REGISTRATE</h2></p>
    </div>
    <div>
        <a href="/" class="back-icon"><i class="bi bi-arrow-left-circle-fill"></i></a>
    </div>

<div id="container" class="d-flex justify-content-center align-items-center" >
        <div id="dvForm" class="border border-left border-right border-3 p-3">
        <form action="/usuario/registroUser" method="post">
             <div class="div2 mb-4">
                <label for="edUser">Usuario</label>
                <br>
                <input type="text" name="edUser" id="edUser" />
            </div>
            <div class="div3 mb-4">
                <label for="edPassword">Contraseña</label>
                <br>
                <input type="password" name="edPassword" id="edPassword" />
            </div>
            <div class="div3 mb-4">
                <label for="edPassword2">Confirmar contraseña</label>
                <br>
                <input type="password" name="edPassword2" id="edPassword2" />
            </div>
        <input type="submit" value="Aceptar">
        </form>
        </div>

    </div>
<div class="d-flex justify-content-center align-items-center mt-2">
    <div id="dvMessagesList">

        {% with mensajes = get_flashed_messages() %}
        {% if mensajes %}
        <ul class="mensajes">
        {% for mensaje in mensajes %}
        <li><span class="mensaje-error">{{ mensaje }}</span></li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

    </div>
    </div>
</body>
</html>